[submodule "dotfiles/janus/vim-gitgutter"]
	path = dotfiles/janus/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dotfiles/janus/vim-pandoc-syntax"]
	path = dotfiles/janus/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "dotfiles/janus/vim-pandoc"]
	path = dotfiles/janus/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "dotfiles/janus/csapprox"]
	path = dotfiles/janus/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "dotfiles/janus/nginx-vim-syntax"]
	path = dotfiles/janus/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "dotfiles/janus/vim-pad"]
	path = dotfiles/janus/vim-pad
	url = https://github.com/fmoralesc/vim-pad.git
	branch = devel
[submodule "bin/prm"]
	path = bin/prm
	url = https://github.com/eivind88/prm
[submodule "dotfiles/vim"]
	path = dotfiles/vim
	url = https://github.com/carlhuda/janus.git
[submodule "dotfiles/janus/vim-cjsx"]
	path = dotfiles/janus/vim-cjsx
	url = https://github.com/mtscout6/vim-cjsx.git
[submodule "dotfiles/janus/vim-braceless"]
	path = dotfiles/janus/vim-braceless
	url = https://github.com/tweekmonster/braceless.vim.git
[submodule "bin/gitwatch"]
	path = bin/gitwatch
	url = https://github.com/davenquinn/gitwatch.git
[submodule "dotfiles/janus/unite.vim"]
	path = dotfiles/janus/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "dotfiles/janus/python-syntax"]
	path = dotfiles/janus/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "dotfiles/janus/vim-alphamelts-syntax"]
	path = dotfiles/janus/vim-alphamelts-syntax
	url = https://github.com/davenquinn/vim-alphamelts-syntax.git
[submodule "dotfiles/janus/vim-stylus"]
	path = dotfiles/janus/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "dotfiles/janus/vim-pug"]
	path = dotfiles/janus/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "dotfiles/zprezto"]
	path = dotfiles/zprezto
	url = https://github.com/sorin-ionescu/prezto
