[submodule "dotfiles/janus/vim-gitgutter"]
	path = dotfiles/janus/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dotfiles/janus/vim-pandoc-syntax"]
	path = dotfiles/janus/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "dotfiles/janus/vim-pandoc"]
	path = dotfiles/janus/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "dotfiles/janus/csapprox"]
	path = dotfiles/janus/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "dotfiles/janus/nginx-vim-syntax"]
	path = dotfiles/janus/nginx-vim-syntax
	url = git@github.com:evanmiller/nginx-vim-syntax.git

[submodule "dotfiles/zprezto"]
	path = dotfiles/zprezto
	url = git@github.com:davenquinn/prezto.git
[submodule "dotfiles/janus/vim-notes"]
	path = dotfiles/janus/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "dotfiles/janus/vim-misc"]
	path = dotfiles/janus/vim-misc
	url = https://github.com/xolox/vim-misc.git
