[submodule "dotfiles/janus/vim-gitgutter"]
	path = dotfiles/janus/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dotfiles/janus/vim-pandoc-syntax"]
	path = dotfiles/janus/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "dotfiles/janus/vim-pandoc"]
	path = dotfiles/janus/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
