"*":
  Hydrogen:
    kernelNotifications: true
  "autocomplete-bibtex":
    bibtex: [
      "~/Resources/Papers/library.bib"
    ]
  "autocomplete-plus":
    fileBlacklist: [
      ".*"
      "*.md"
    ]
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "autocomplete-python"
      "docker"
      "language-r"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "perplex-light-syntax"
    ]
    titleBar: "custom"
    useTreeSitterParsers: false
  "dark-flat-ui":
    accentColor: "purple"
  editor:
    fontFamily: "FiraCode-Retina, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 15
    scrollPastEnd: true
  "exception-reporting":
    userId: "a655fd27-83ed-49f4-9c0d-75ec94b289c0"
  "git-log": {}
  kite:
    showWelcomeNotificationOnStartup: false
  "mojave-dark-mode":
    darkProfile: "one-dark-ui perplex-syntax"
    lightProfile: "one-light-ui perplex-light-syntax"
  touchbar:
    buttons: "[{\"name\":\"toggle-command-palette\",\"type\":\"button\",\"label\":\"Commands\",\"command\":\"command-palette:toggle\"},{\"name\":\"color-picker\",\"type\":\"color-picker\"},{\"name\":\"spacer\",\"type\":\"button\",\"size\":\"small\",\"label\":\"\",\"command\":\"tree-view:toggle\",\"color\":\"#00716c\",\"icon\":\"NSTouchBarSidebarTemplate\",\"iconColor\":\"white\"},{\"name\":\"toggle-github\",\"type\":\"button\",\"label\":\"GitHub\",\"color\":\"#919191\",\"command\":\"github:toggle-github-tab\"}]"
  "tree-view": {}
".css.source.stylus":
  editor:
    showIndentGuide: true
