.main {
  color: #272822;
  color: #383830;
  color: #49483e;
  color: #75715e;
  color: #a59f85;
  color: #f8f8f2;
  color: #f5f4f1;
  color: #f9f8f5;
  color: #f92672;
  color: #fd971f;
  color: #f4bf75;
  color: #a6e22e;
  color: #a1efe4;
  color: #66d9ef;
  color: #ae81ff;
  color: #cc6633;
}

// Original
.main {
  color: #272822;
  color: #383830;
  color: #49483e;
  color: #75715e;
  color: #a59f85;
  color: #f8f8f2;
  color: #f5f4f1;
  color: #f9f8f5;
  color: #f92672;
  color: #fd971f;
  color: #f4bf75;
  color: #a6e22e;
  color: #a1efe4;
  color: #66d9ef;
  color: #ae81ff;
  color: #cc6633;
}
